/* container paernt styling */
.container-startup {
  position: absolute;
  height: 102vh !important;
  width: 100% !important;
  margin-top: 0 !important;
  background-color: whitesmoke;
  z-index: 1000;
}

.container-startup.hide {
  opacity: 0;
  left: -300vh;
  transition: 0.5s;
}
/* logo container style with image content */
.logo-container {
  background-color: lightblue;
  padding: 12px;
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 200px 200px;
  padding-top: 12vh !important;
  transition: 0.5s;
}
.startup-logo {
  margin-top: 0 !important;
  width: 350px !important;
  height: 350px !important;
  border-radius: 50%;
}
/* style image in samll devices screen */
@media screen and (max-width: 759px) {
  .logo-container {
    width: 100%;
    height: auto !important;
    border-radius: 0px;
  }
  .startup-logo {
    width: 250px !important;
    height: 250px !important;
  }
}

/* title style */
.title {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}
/* description style */
.description {
  text-align: center;
  max-width: 550px;
  height: max-content;
  text-overflow: clip;
  text-wrap: wrap;
  margin-top: 10px;
  transition: 0.5s;
}
/* steps parent style */
.steps {
  padding: 8px;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* step one  style*/
.step {
  background-color: gray;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  border-radius: 30px;
  transition: 0.5s;
}
/* step active style */
.step.active {
  background-color: rgba(0, 0, 255, 0.592);
  width: 30px;
}
/* btn parent style */
.btns-container {
  width: 100%;
  padding-top: 20px;
}

/* buttons style */
.button {
  border-radius: 15px !important;
  transform: rotate(60deg);
  width: 50px;
  height: 50px;
  padding: 5px !important;
  transition: 0.5s;
}
