body{
  overflow-y: scroll;
}
/* home page style */
.home {

  padding: 8px;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto !important;
  z-index: 1000000;
}
/* card style */
.card-container {
  width: 100% !important;
  padding: 8px;

}

/* card items style */

.card-items{
  position: relative;
  max-width: max-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 30px;

}
/* logo container style */

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* post image style */
.card-items img{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* card content style */
.card-items p {
  max-width: 350px;
  text-wrap: wrap !important;
  text-align: center;
}

/* card name style */
.card-items h4{
  margin-top: 50px;
}

/* reactions btn style */

.reactions {
  background-color: rgba(128, 128, 128, 0.496);
  color: black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

/* comments section style && hide/show */
.comments-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px;
  width: 100%;
  height: 0vh;
  overflow: hidden;
  transition: .5s;
}

.comments-section.active {
  height: max-content;
  overflow-y: hidden;
  transition: .5s;
  padding: 8px;
}

/* post body style */
.post-body {
  height: 10vh !important;
  text-align: left !important;
}
/* post image style */
.post-image{
  border-radius: 5px !important;
  height: 30vh !important;
}
/* general classs */

.all-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom: 10px;
  position: relative;
}

.all-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: whitesmoke;
  border-radius: 30px;
  padding-left: 12px;
  width: 90%;
}
.badge-comment {
  background-color: black;
  border-radius: 50%;
  color: cyan !important;
  padding: 12px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-row-end{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* comment form / input / button style */
.comment-form {
  position: relative;
}
.comment-form.active {
  position: relative;
  bottom: 3px;
  margin-top: 0px !important;
  left: 0;
width: 100% !important;
border-radius: 30px;
padding: 6px;
margin-top: 15px;
border: 1px solid black;
border-radius: 20px;
}
.comment-input {
  width: 88%;
  border: none;
  background: none;
  outline: none;
  margin-right: 3px;
  padding: 4px;
  color: black;
}
.comment-input::placeholder{
  color: black;
}
.comment-btn{
  background-color: red;
  color: white;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: none;
}

.comments {
  overflow-y: scroll;
  height: 25vh !important;
margin-bottom: 15px;
}
.comment-body {
  max-width: 90px;
  text-overflow: ellipsis;
  text-wrap: wrap;
}

/* scroll behavior control */
/* width */
::-webkit-scrollbar {
  display: none;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: purple;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* share modal style === show/hide  */

.modal {
position: fixed;
background-color: rgba(0, 0, 0, 0.426);
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
top: 0;
left: 0;
z-index: 1222555;
display: none;
}
.modal.active {
display: flex;
}
.share-modal {
  background-color: white;
  color: black;
width: 50%;
height: 30%;
}

/* small media modal style */
@media screen and (max-width : 915px) {
  .share-modal {
    background-color: white;
    color: black;
  width: 90%;
  height:max-content;
  }
}
/* close i style */
.close{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px !important;
}
.close:hover{
  background-color: red;
  color: white;
  cursor: pointer;
}

/* social media icons style */

.copy-link {
  background-color: rgba(128, 128, 128, 0.415);
  width: 110px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

