/* general class for div row center */
.all-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3;
}
/* general class for div column center */
.all-center-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3;
}

/* parent container style */
.notifs-parent{
  margin-top: 0 !important;
  padding: 10px;
}
@media screen and (max-width :767px) {
  .notifs-parent{
    margin-top: 0;
  }
}
/* notifications container style */

.notifs {
  height: 100%;
  padding: 10px;
  background-color: transparent;
}
@media screen and (max-width :700px) {
  .notifs {
    height:100%;
    padding: 10px;
    background-color: transparent;
    width: 100%;
  }  
}

/* notifications body style */
.notif-content{
  background-color: transparent;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid white;
}
/* notifications content trash icon style */

.notif-content i {
  cursor: pointer;
}
.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
}

.chat-details {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}